.Main
  .Main__group--info
    .Main__group--info__container
      .Main__group--info__container--group_name test
      = link_to("Edit", "#", class: "Main__group--info__container--edit_btn")
    %p.Main__group--info__user_name Member: test_member
  .Main__content
  .Main__message--form