- @messages.each do |message|
  .MainChatList
    .MainChatList__nameField
      %p.MainChatList__name
        = message.user.name 
      %P.MainChatList__timeStamp
        = message.created_at.to_s.gsub(/(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}).+/,'\1年\2月\3日 \4時\5分')
    .MainChatList__messageBox
      - if message.content.present?
        %p.MainChatList__message
          = message.content
      = image_tag message.image.url, class: "MainChatList__image" if message.image.present?