@import "reset";
@import "modules/messages";
@import "font-awesome-sprockets";
@import "font-awesome";

.Wrapper{
  display: flex;
}

.Main{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &Header{
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    &__upperBox{
      display: flex;
      justify-content: space-between;
    }
    &__groupName{
      color: #333333;
      font-size: 20px;
      padding-top: 35px;
    }
    &__editBtn{
      display: block;
      width: 72px;
      height: 40px;
      text-decoration: none;
      color: #38aef0;
      font-size: 16px;
      border: 1px solid #38aef0;
      margin-top: 28px;
      padding: 0 20px;
      line-height: 40px;
    }
    &__userName{
      color: #999999;
      font-size: 12px;
      padding-top: 13px;
    }
  }
  &ChatField{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px 0 40px;
  }
  &ChatList{
    &__nameField{
      display: flex;
    }
    &__name{
      color: #333333;
      font-size: 16px;
      padding-right: 10px;
      font-weight: bold;
    }
    &__timeStamp{
      color: #999999;
      font-size: 12px;
    }
    &__message{
      color: #434A54;
      font-size: 14px;
      padding: 12px 0 46px 0;
    }
  }
  &Footer{
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }
  &MessageForm{
    display: flex;
    width: 100%;
    &__InputBox{
      height: 50px;
      width: calc(100% - 100px);
      background-color: white;
      display: flex;
      align-items: center;
      position: relative;
    }
    &__message{
      height: 100%;
      width: 100%;
      padding: 0 45px 0 10px;
      border: none;
    }
    &__imageIcon{
      font-size: 25px;
      position: absolute;
      top: 7px;
      right: 10px;
    }
    &__imageBtn{
      display: none;
    }
    &__SendBtn{
      height: 50px;
      width: 100px;
      margin-left: 15px;
      border: none;
      background-color: #38AEF0;
      color: white;
    }
  }
}

.Side{
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  &Header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #253141;
    &__name{
      height: 20px;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      line-height: 20px;
    }
    &__icons{
      height: 20px;
      width: 60px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &__groupBtn{
      height: 20px;
      color: #ffffff;
      padding-right: 5px;
      text-decoration: none;
    }
    &__userCogBtn{
      height: 20px;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &GroupField{
    height: calc(100vh - 100px);
    width: 100%;
    padding: 0 20px;
  }
  &GroupList{
    width: 100%;
    // background-color: yellow;
    &__linkBox{
      text-decoration: none;
    }
    &__groupName{
      color: #ffffff;
      font-size: 15px;
      padding-top: 20px;
    }
    &__message{
      padding: 5px 0 40px 0;
      color: #ffffff;
      font-size: 11px;
    }
  }
}
